 #BoxMargin {
     border: 2px dashed;
 }
 
 #BoxContent {
     border: 2px dashed;
     padding-bottom: 150px;
 }
 
 div {
     margin: 20px;
     text-align: center;
     margin-top: 0px;
 }
 
 #BoxPadding {
     border: 2px solid;
     background-color: white;
 }
 
 #BoxBorder {
     border: 2px solid;
     background-color: yellow;
 }